@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/InterVariable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('/src/assets/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/src/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
}
